body{

}

.section-block{  padding-top:50px; padding-bottom:70px;  }
.section-block.block-dark{  background:#0C687E; padding-top:50px; padding-bottom:0px;}

.section-block.block-dark .header h2,
.section-block.block-dark .header .attribute-short{ color:#fff; }

.section-block header,
.section-block .header{ margin:20px 0px;}

.section-block .header h2{
    font-size:50px;
    color:#1692B0;
    font-weight: 300;
}
.section-block .header .attribute-short{
    color:#0C687E;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}
#skills-block #skills-list{
    font-size:25px;
    padding:30px 0px;
    font-weight:300;
}

#skills-block #skills-list h3{
    font-size:28px;
    font-weight:700;
    margin:0px;
    padding:20px 0px 10px;
}
#skills-block #skills-list .attribute-short{
    font-size:18px;
    color:#0C687E;
}
#skills-block #skills-list a:hover .attribute-short{
    color: #24d1fd;
    -webkit-transition: color .2s ease-in;
    -moz-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
    transition: color .2s ease-in;
}


#reference-list .col-md-8,
#reference-list .col-md-4{  padding:0px; }
#reference-list .button-block{ margin-top:0px; }

#reference-list .button-block a{
    display:block;
    padding:25px 0px;
    line-height:1em;
    font-size:24px;
    font-weight: 300;
    background:#1692B0;
    color:#fff;
    border:none;
    text-transform: uppercase;
}
#reference-list .button-block a:hover{
    background:#B05415;
    color:#fff;
}
#reference-list .block-reference a{
    position:relative;
}

.ref-wrapper{
    background-color: #202020;
    overflow: hidden;
    position: relative;
}
#reference-list .block-reference a:hover .attribute-contentOverlay{

    background-color: rgba(0, 0, 0, 0.5);
}
#reference-list .block-reference .attribute-contentOverlay {
    background-color: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 20;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#reference-list .block-reference a:hover .attribute-content{
    color:#fff;

}
#reference-list .block-reference .attribute-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:100%;
    color:rgba(255, 255, 255, 0);
}
#reference-list .block-reference .attribute-content h3,
#reference-list .block-reference .attribute-content h4 {
    text-transform: uppercase;
}
#reference-list .block-reference .attribute-content h3{
    font-weight:700;
}
#reference-list .block-reference .attribute-content h4{
    font-weight:300;
    font-size:15px;
}
