

{% if mainContent is defined %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ ez_render_field( mainContent.0.valueObject, "footer_left" ) }}
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 align-right">
                <a href="https://twitter.com/comtocode" title="Twitter Com to Code - Web development and communication agency!" target="blank">
                    <i class="fa fa-2x fa-twitter-square"></i>
                </a>
                <a href="https://plus.google.com/+ComtocodeAgency" title="Google plus Com to Code - Web development and communication agency!" target="blank">
                    <i class="fa fa-2x fa-google-plus-square"></i>
                </a>
                <a href="https://github.com/ComToCodeAgency" title="Github Com to Code - Web development and communication agency!" target="blank">
                    <i class="fa fa-2x fa-github-square"></i>
                </a>
                <a href="mailto:hello@com-to-code.com" title="Say Hello to Com to Code - Web development and communication agency!">
                    <i class="fa fa-2x fa-envelope-square"></i>
                </a>
                {#
                    <a href="tel:+33627322052" title="Call Com to Code - Web development and communication agency!">
                        <i class="fa fa-2x fa-phone-square"></i>
                    </a>
                #}


            </div>
        </div>
    </div>

{% endif %}