body{
    font-family: "Lato", "helvetica", arial, sans-serif;
}

.align-center{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.no-display{ display:none;}

b, strong{ font-weight:700; }

h1, h2, h3{ text-transform: uppercase;}


a,
a:link,
a:visited
{
    color: #1692B0;
}
a:focus,
a:hover{
    text-decoration:none;
    color: #24d1fd;
}

a,
a i,
a span,
a strong{
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

/* Intro block */

#intro-block{
    position:relative;
}
#intro-block .bg{
    padding:80px 0px;
}

#intro-block .bg h2,
#intro-block .bg h3{
    margin:10px 0px;
    color:#fff
}
#intro-block .bg h2 {
    font-size:40px;
    font-weight:400;
}
#intro-block .bg h3{
    font-size:35px;
    font-weight:300;
}
#intro-block .bg-img{
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
}
#intro-block .bg-img .img-full{
    position:absolute;
    top:0px;
    width:100%;
}

/* End intro block */

/* Button block */
.button-block{
    margin-top:30px;
}
.button-block a{
    display:block;
    padding:3px 0px;
    background:#1692B0;
    color:#fff;
    border:1px solid #1692B0;
    text-transform: uppercase;
}
.button-block a:hover{
    background:#fff;
    color:#1692B0;
}

/* End button-block */


/* Sharing block */
#sharing-block #twitter-loader{
    min-height:300px;
    color:#24d1fd;
}
#sharing-block #twitter-loader i { padding:50px 0px; }
#sharing-block .attribute-twitter a{
    font-size:35px;
    font-weight: 300;
}
#sharing-block .attribute-twitter a span{ display:block; }
#sharing-block .attribute-twitter a i{ color:#55ACEE; }
#sharing-block .attribute-twitter a:hover i{ color:#FD7822;}
#sharing-block .attribute-twitter a .twitter-username{
    font-weight:700;
    color:#24d1fd;
}
#sharing-block .attribute-twitter a:hover span{ color:#1692B0; }



#main{ margin-top:68px;}

/* Menu */

.navbar.navbar-default{
    min-height:65px;
    background:#fff;
    border-bottom:1px solid #1692B0;
}

.navbar.navbar-default .navbar-nav{
    margin-right:20px;
}
.navbar.navbar-default .navbar-brand{
    padding:0px 10px;
    margin-left:20px;
}
.navbar.navbar-default .navbar-nav > li > a{
    font-weight:300;
    text-transform:uppercase;
    line-height:1em;
    font-size:18px;
    padding-bottom:25px;
    padding-top:25px;
    color:#1692b0;
}

.navbar.navbar-default .navbar-nav > li > a:hover,
.navbar.navbar-default .navbar-nav > li.active > a {
    background:#0C687E;
    color:#fff;
}





/* Footer */

#main-footer{
    background: #1692b0;
    padding:10px 0px;
    line-height: 2em;
    text-transform: uppercase;
    color:#fff;
}
#main-footer p{
    font-size:13px;
    margin:0px;
}
#main-footer a{
    color:#fff;
    margin-left:8px;
}
#main-footer .align-right{ text-align: right; }
#main-footer a:hover{ color:#24d1fd; }



@media screen and (max-width: 1199px) {

    #intro-block .bg h2 { font-size: 35px;}
    #intro-block .bg h3 {font-size: 30px; }
}
@media screen and (max-width: 991px) {

    /* Menu */
    .navbar.navbar-default{
        min-height:65px;
        background:#fff;
        border-bottom:1px solid #1692B0;
    }

    .navbar.navbar-default .navbar-nav{margin-right:0px;}
    .navbar.navbar-default .navbar-brand{ margin-left:0px;}
    .navbar.navbar-default .navbar-nav > li > a{
        font-weight:300;
        text-transform:uppercase;
        line-height:1em;
        font-size:16px;
        padding:25px 8px;
        color:#1692b0;
    }
}
@media screen and (max-width: 767px) {

    #main-footer .col-xs-12,
    #main-footer .align-right{ text-align: center;}
    .navbar-header{ min-height:75px;}
    .navbar-default .navbar-toggle{
        border-color:#0C687E;
        border-radius: 0px;
        padding:15px;
    }
    .navbar-default .navbar-toggle .icon-bar{  background-color:#0C687E;  }
    .navbar-default .navbar-toggle:hover{  background-color:#0C687E;}
    .navbar-default .navbar-toggle:hover .icon-bar{ background-color: #fff;}
}

@media screen and (max-width: 480px) {
    .section-block{
        padding-bottom:20px;
        padding-top:20px;
    }
    #intro-block .bg h2 { font-size: 30px;}
    #intro-block .bg h3 {font-size: 25px;}

}